.container{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px;
   
   
}

.Project{
   
   text-align: center   ;
   justify-content: center;
   margin-top: 10px;
   padding-top: 20px;
}

.Project a{
   text-decoration: none;
}

a img{

   width: 200px;
   height: 200px;
   border-radius: 30%;
   
}
 h6{
   justify-content: center;
   color: blue;
}
.p1{
   animation: name 1s ease-in-out;
}
@keyframes name{
   0%{
       transform: translateY(-650%);
   }
}
.p2{
   animation: name 2s ease-in-out;
}
@keyframes name{
   0%{
       transform: scale(1.5)
   }
}
.p3{
   animation: name 3s ease-in-out;
}
@keyframes name{
   0%{
       transform: translateY(-650%);
   }
}
.p4{
   animation: name 4s ease-in-out;
}
@keyframes name{
   0%{
       transform: translateY(-650%);
   }
}
.p5{
   animation: name 6s ease-in-out;
}
@keyframes name{
   0%{
       transform: translateY(-650%);
   }
}