#project{
    margin: 30px auto;
 }div a:link{
   color:rgb(18, 81, 206);
}
div a:hover{
    color:rgb(96, 239, 24);
 }
 div a:visited{
    color:red;
 }
 div a:focus{
    color:rgb(89, 7, 7);
 }
 div a:active{
    color:rgb(245, 223, 33);
 }
 div a{
    border:1px solid black;
    width: auto;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;

 }
 
